# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# Database files
*.sqlite3

# Alembic migrations
alembic/versions/
alembic.ini